{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ username }}'s Chatroom</h2>&nbsp;
    <br>
        <br>
<br>
    <br>
    <hr style="type:bold">
    {% for result in results %}
    <p><span style="color:red;">{{result["username"]}}</span></p>
               <p>{{result["messege"]}}</p>
    {% endfor %}
     <form  id="new-blog" action="/view_user_all/" method="post">
         <div class="col-xs-4">
        <div  class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" name="description">
        </div>
         </div>
        </div>
        <button type="submit" class="btn btn-success">Create Chrip</button>
    </form>

</div>
{% endblock %}